<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TA-Portal</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body>

<div class="container">
    <h2 style="text-align: center;">Workshifts by month</h2>
    <div class="container">
        <h4 class="panel-title" style="text-align: right;">
            <a class="btn btn-primary" th:href="@{/user_details}">User Information</a>
        </h4>
    </div>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title" style="text-align: center;">
                <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse1">January</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Type</th>
                        <th>Comments</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="workshift : ${january_workshifts}">
                        <td th:text="${workshift.getDate()}"></td>
                        <td th:text="${workshift.getStartTime()}"></td>
                        <td th:text="${workshift.getEndTime()}"></td>
                        <td th:text="${workshift.getType()}"></td>
                        <td th:text="${workshift.getComment()}"></td>
                        <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                            <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                    </tr>
                    </tr>
                </table>
                <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(january_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
                <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(january_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>

            </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse2">February</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${february_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(february_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(february_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse3">March</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${march_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(march_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(march_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>
        </div>
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse"  href="#collapse4">April</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse in">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${april_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(april_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(april_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse5">May</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${may_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(may_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(may_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse6">June</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${june_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(june_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(june_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse7">July</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${july_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(july_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(july_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse8">August</a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${august_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(august_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(august_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse9">September</a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${september_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(september_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(september_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse10">October</a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${october_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>
            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(october_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(october_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse11">November</a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${november_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>

            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(november_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(november_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title" style="text-align: center;">
            <a class="btn btn-outline-primary" data-toggle="collapse" data-parent="#accordion" href="#collapse12">December</a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Type</th>
                    <th>Comments</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="workshift : ${december_workshifts}">
                    <td th:text="${workshift.getDate()}"></td>
                    <td th:text="${workshift.getStartTime()}"></td>
                    <td th:text="${workshift.getEndTime()}"></td>
                    <td th:text="${workshift.getType()}"></td>
                    <td th:text="${workshift.getComment()}"></td>
                    <td> <a class="btn btn-primary" th:href="@{/edit_workshift/{id}(id=${workshift.getId()})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{delete_workshift/{id}(id=${workshift.getId()})}">Delete</a></td>
                </tr>
                </tr>
            </table>

            <p> Total hours worked: <span th:text="${#numbers.formatDecimal(currentUser.totalHoursWorked(december_workshifts), 1, 'COMMA', 2, 'POINT')}"></span></p>
            <p> Overtime hours: <span th:text="${#numbers.formatDecimal(currentUser.getOvertimeHours(december_workshifts), 1 , 'COMMA', 2, 'POINT')}"></span></p>

        </div>
      </div>
    </div> 
  </div>

<div class="container">
    <div class="row mt-5">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal1">
                Add workshift
            </button>

            <th:block th:replace="_modals :: modal('exampleModal1')">modal</th:block>

    </div>
</div>



<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $('#exampleModal1').on('show.bs.modal', function () {
        $.get("/modals/modal1", function (data) {
            $('#exampleModal1').find('.modal-body').html(data);
        })
    });


</script>

</body>
</html>
