<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TA-Portal | User Information</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <!--<link href="../static/css/userInfo.css" th:href="@{/css/userInfo.css}" rel="stylesheet" media="screen, print"/>-->

    <style>
        html, body {
            height: 100%;
        }

        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #0d6efd;
            color: #FFF;
            border-radius: 50px;
            border-style: hidden;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
        }

        form .form-floating:focus-within {
            z-index: 2;
        }

        form input {
            margin-bottom: -1px;
            border-bottom-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    </style>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 font-weight-bold" th:href="@{/index}">TA-Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user_courses}">My Courses</a>
                </li>
                <li class="nav-item">
                    <a class="active nav-link" th:href="@{/user_details}">User Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd"
                                  d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg>
                        Log out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">

    <!-- success message -->
    <div th:if="${success}">
        <div class="alert alert-info">You've successfully registered
            to our awesome app!
        </div>
    </div>

    <h1>User Information</h1>
    <form class="mt-4" action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
        <!--<div class="mx-auto" >
            <label class="label-styling" for="pNumber">Personal Number:</label>
            <input type="number" class="form-control input-field-sizing" th:readonly="true" id="pNumber" th:value=" ${user.getpNumber()}" required th:field="*{pNumber}">
            <label class="label-styling" for="email">Email:</label>
            <input type="text" class="form-control input-field-sizing" id="email" th:readonly="true" th:value=" ${user.getEmail()}" required th:field="*{email}">
        </div>
        <div class="mx-auto">

            <label class="label-styling" for="firstName">First name:</label>
            <input type="text" class="form-control input-field-sizing" id="firstName" th:value=" ${user.getFirstName()}" required th:field="*{firstName}">

            <label class="label-styling" for="familyName">Last name:</label>
            <input type="text" class="form-control input-field-sizing" id="familyName" th:value=" ${user.getFamilyName()}" required th:field="*{familyName}">

        </div>
        <div class="mx-auto">
            <label class="label-styling" for="streetAddr">Street Address:</label>
            <input type="text" class="form-control input-field-sizing" id="streetAddr" th:value=" ${user.getStreetAddr()}" required th:field="*{streetAddr}">

            <label class="label-styling" for="postcode">Postal Code:</label>
            <input type="number" class="form-control input-field-sizing" id="postcode" th:value=" ${user.getPostcode()}" required th:field="*{postcode}">
        </div>
        <div class="mx-auto">
            <label class="label-styling" for="city">City:</label>
            <input type="text" class="form-control input-field-sizing" id="city" th:value=" ${user.getCity()}" required th:field="*{city}">

            <input type="hidden" th:value="${user.getPassword()}" th:field="*{password}">

            <label class="label-styling" for="master">Have a Master?</label>
            <select class="form-control input-field-sizing" id="master" th:field="*{hasMaster}">
                <option th:value="'Yes'">Yes</option>
                <option th:value="'No'">No</option>
            </select>
        </div>-->


        <div class="form-floating">
            <input th:readonly="true" placeholder="YYMMDDNNNN" type="number" id="PersonalNumber" class="form-control"
                   th:field="*{pNumber}"/>
            <label for="PersonalNumber">Personal Number</label>
        </div>

        <div class="form-floating">
            <input th:readonly="true" placeholder="john.doe@mail,com" id="email" class="form-control"
                   th:field="*{email}"
                   required/>
            <label for="email"> E-mail </label>
        </div>

        <div class="form-floating">
            <input placeholder="John" id="firstName" class="form-control" th:field="*{firstName}" required/>
            <label for="firstName"> First Name </label>
        </div>

        <div class="form-floating">
            <input placeholder="Doe" id="lastName" class="form-control" th:field="*{familyName}" required/>
            <label for="lastName"> Last Name </label>
        </div>

        <div class="form-floating">
            <input placeholder="Kungsgatan 1" id="StreetAddress" class="form-control" th:field="*{streetAddr}"
                   required/>
            <label for="StreetAddress"> Street Address </label>
        </div>

        <div class="form-floating">
            <input placeholder="12345" type="number" id="postCode" class="form-control" th:field="*{postcode}"
                   required/>
            <label for="postCode"> Postal Code </label>
        </div>

        <div class="form-floating">
            <input placeholder="Gothenburg" type="text" id="city" class="form-control" th:field="*{city}"
                   th:value=" ${user.getCity()}"
                   required/>
            <label for="city"> City </label>
        </div>

        <input type="hidden" th:value="${user.getPassword()}" th:field="*{password}">

        <div class="form-floating">
            <select class="form-select" id="hasMaster">
                <option th:value="'Yes'">Yes</option>
                <option selected th:value="'No'">No</option>
            </select>
            <label class="control-label" for="hasMaster"> Do you have a master's degree? </label>
        </div>


        <button type="submit" class="mt-4 btn w-100 btn-lg btn-primary btn-styling">Save</button>

    </form>
</div>

<div class="container mt-4">
    <div class="collapse" id="help">
        <div class="card card-body">
            <div class="alert alert-dismissible alert-light" role="alert">
                <h4 class="alert-heading">Help</h4>
                <hr>
                <p>
                    Welcome to the TA Portal. In order to add your first workshift, you need to go to <b>My Courses</b>
                    and add the course associated with the workshift.<br/><br/>
                    Adding new workshifts is done by clicking <b>Add workshift</b>. The workshift will then show up in
                    that month's workshift table.<br/><br/>
                    If you need to edit your personal information, simply go to <b>User Informatiion</b>.<br/><br/>
                    At the end of each month you can generate a PDF-file that is ready to be sent to the course's
                    examiner, by clicking <b>Generate PDF</b> at the bottom of that month's workshift table.
                </p>
                <button data-toggle="collapse" data-target="#help" class="btn-close" role="button"
                        data-bs-toggle="collapse"></button>

            </div>
        </div>
    </div>
</div>

<button class="float" type="button" data-bs-toggle="collapse" data-bs-target="#help" aria-expanded="false"
        aria-controls="collapseExample">
    <svg class="bi bi-question-lg fa fa-plus my-float" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
         fill="currentColor" viewBox="0 0 16 16">
        <path d="M3 4.075a.423.423 0 0 0 .43.44H4.9c.247 0 .442-.2.475-.445.159-1.17.962-2.022 2.393-2.022 1.222 0 2.342.611 2.342 2.082 0 1.132-.668 1.652-1.72 2.444-1.2.872-2.15 1.89-2.082 3.542l.005.386c.003.244.202.44.446.44h1.445c.247 0 .446-.2.446-.446v-.188c0-1.278.487-1.652 1.8-2.647 1.086-.826 2.217-1.743 2.217-3.667C12.667 1.301 10.393 0 7.903 0 5.645 0 3.17 1.053 3.001 4.075zm2.776 10.273c0 .95.758 1.652 1.8 1.652 1.085 0 1.832-.702 1.832-1.652 0-.985-.747-1.675-1.833-1.675-1.04 0-1.799.69-1.799 1.675z"/>
    </svg>
</button>

</body>
</html>