<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<link href="../static/css/userInfo.css" th:href="@{/css/userInfo.css}" rel="stylesheet" media="screen, print"/>
<body>
<div  class="mx-auto" style="width: 400px;">
    <h1>User Information</h1>
    <br>
    <br>
</div>


<form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
    <div class="mx-auto" >
        <label class="label-styling" for="pNumber">Personal Number:</label>

        <input type="number" class="form-control input-field-sizing" th:readonly="true" id="pNumber" th:value=" ${user.getpNumber()}" required th:field="*{pNumber}">

        <label class="label-styling" for="email">Email:</label>
        <input type="text" class="form-control input-field-sizing" id="email" th:readonly="true" th:value=" ${user.getEmail()}" required th:field="*{email}">
    </div>
    <div class="mx-auto">

        <label class="label-styling" for="firstName">First name:</label>
        <input type="text" class="form-control input-field-sizing" id="firstName" th:value=" ${user.getFirstName()}" required th:field="*{firstName}">

        <label class="label-styling" for="familyName">Last name:</label>
        <input type="text" class="form-control input-field-sizing" id="familyName" th:value=" ${user.getFamilyName()}" required th:field="*{familyName}">

    </div>
    <div class="mx-auto">
        <label class="label-styling" for="streetAddr">Street Address:</label>
        <input type="text" class="form-control input-field-sizing" id="streetAddr" th:value=" ${user.getStreetAddr()}" required th:field="*{streetAddr}">

        <label class="label-styling" for="postcode">Postal Code:</label>
        <input type="number" class="form-control input-field-sizing" id="postcode" th:value=" ${user.getPostcode()}" required th:field="*{postcode}">
    </div>
    <div class="mx-auto">
        <label class="label-styling" for="city">City:</label>
        <input type="text" class="form-control input-field-sizing" id="city" th:value=" ${user.getCity()}" required th:field="*{city}">

        <input type="hidden" th:value="${user.getPassword()}" th:field="*{password}">

        <label class="label-styling" for="master">Have a Master?</label>
        <select class="form-control input-field-sizing" id="master" th:field="*{hasMaster}">
            <option th:value="'Yes'">Yes</option>
            <option th:value="'No'">No</option>
        </select>
    </div>
    <div class="mx-auto div-btn">
        <div class="div-center">
            <button type="submit" class="btn btn-primary btn-styling">Save</button>
            <a class="btn btn-secondary btn-styling" th:href="@{/}">Back</a>
        </div>
    </div>
</form>

</body>
</html>